<h1>Player Seeker</h1>

<!-- <span>{{ randomPlayer() | json }}</span> -->

<ul style="overflow: auto; height: min(20vh, 50rem)">
  @for (hint of currentHints() ; track hint) {
  <li>{{ hint }}</li>
  }
</ul>
<span>{{ playerScore() | json }}</span>

<mat-form-field class="example-full-width">
  <mat-label>Assignee</mat-label>
  <input
    type="text"
    matInput
    [formControl]="myControl"
    [matAutocomplete]="auto"
    [disabled]="!randomPlayer()"
  />
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    @for (player of filteredOptions$ | async ; track player) {
    <mat-option [value]="player">{{ player.name }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>

<button mat-flat-button (click)="checkAnswer()" [disabled]="!randomPlayer()">
  Oyuncuyu Seç
</button>
<button
  mat-flat-button
  (click)="getPlayerHint()"
  color="secondary"
  [disabled]="!randomPlayer()"
>
  Yardım Al
</button>

<router-outlet />
